<h1>Welcome to Aywa Mobility</h1>

<%= link_to 'Administrators', administrators_administrators_path, class: 'btn btn-link px-0' %><br />
<%= link_to 'Partner organizations', administrators_partner_organizations_path, class: 'btn btn-link px-0' %><br />
<%= link_to 'Partner User', administrators_partners_path, class: 'btn btn-link px-0' %><br />

